/* .sidebar {
    display: block;
    inset: 0 0 0 40;
    position: absolute;
    height: 100%;
    width: 15%;
    background-color: white;
    box-shadow: 0px 1px 8px #e2e2e2;
}

.content {
    margin-left: 15%;
} */

.product-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
    justify-content: center;
}

.item {
    padding: 0 20px 50px 20px;
}

.product-link {
    width: 100%;
    height: 100%;
}

.product-link:hover {
    cursor: pointer;
}

.product-img {
    width: 100%;
    /* height: 90%; */
    min-width: 200px;
    max-width: 500px;
    /* transition: 250ms; */
    aspect-ratio: 1;
}

.product-img:hover {
    z-index: 10;
    transform: scale(1.025); 
    outline: solid 1px green;
}

.img-container {
    max-width: 500px;
    max-height: 500px;
}

.product-name {
    margin: 10px 0 0 0;
    padding: 0;
    text-decoration: none;
    word-wrap: normal;
    font-weight: bold;
}

.product-price {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* #sicko {
    outline: none;
    font-family: "Noto Sans Mono", sans-serif !important;
    border: 1px solid green;
    background-color: white;
    color: black;
}

#sicko:hover {
    cursor: pointer;
} */

.test {
    color: white;
}


